<!--<div *ngFor="let e of employeeList">-->
<!-- {{e.id}} , {{e.employee_name}}, {{e.employee_sallary}}, {{e.employee_age}}, {{e.profile_image}}-->
<!--</div>-->
<!--<div class="ui-g">-->
<!--  <div class="ui-g-3">-->
<!--    نام : <input type="text" [(ngModel)]="employee.name" />-->
<!--    <br/>-->
<!--  </div>-->
<!--  <div class="ui-g-3">-->
<!--    نام خانوادگی : <input type="text" [(ngModel)]="employee.lastname" />-->
<!--    <br/>-->
<!--  </div>-->
<!--  <div class="ui-g-3">-->
<!--    حقوق : <input type="text" [(ngModel)]="employee.salary" />-->
<!--    <br/>-->
<!--  </div>-->
<!--  <div class="ui-g-3">-->
<!--    سن : <input type="text" [(ngModel)]="employee.age" />-->
<!--    <br/>-->
<!--  </div>-->
<!--</div>-->
<!--<button type="button" pButton (click)="saveEmployee()" label="save"></button>-->
<!--<button type="button" pButton (click)="updateEmployee()" label="update"></button>-->

<div style="height:1000px;width:1000px;float: snap">
<p-table [value]="employeeList"  >
  <ng-template pTemplate="header">
    <tr>
      <th>Id</th>
      <th>Employee Name</th>
      <th>Employee Salary</th>
      <th>Employee Age</th>
      <th>Profile Image</th>
<!--      <th>Edit</th>-->
      <th style="align-content: center">حذف</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-employee>
    <tr>
      <td>{{employee.id}}</td>
      <td>{{employee.employee_name}}</td>
      <td>{{employee.employee_salary}}</td>
      <td>{{employee.employee_age}}</td>
      <td>{{employee.profile_image}}</td>
<!--      <td><button pButton label="edit" (click)="loadForEditEmployee(employee)" ></button></td>-->
      <td><button pButton label="حذف" (click)="deleteEmployee(employee.id)" style="align-content: center"></button></td>
    </tr>
  </ng-template>
</p-table></div>



