.button2 {
  background-color: lightblue;
  border-radius: 20px;
  transition-duration: 0.4s;
  border: medium blue;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  size: 16px;
  alignment: center;
  align-content: center;
}
