<div style="float: right;direction: rtl;padding-right: 100px;width: 500px;height: 30%">
  <div >
    نام : <input type="text" [(ngModel)]="employee.name" />
    <br/>
    <br/>
  </div>
  <div >
    نام خانوادگی : <input type="text" [(ngModel)]="employee.lastname" />
    <br/>
    <br/>
  </div>
  <div >
    حقوق : <input type="text" [(ngModel)]="employee.salary" />
    <br/>
    <br/>
  </div>
  <div >
    سن : <input type="text" [(ngModel)]="employee.age" />
    <br/>
    <br/>
  </div>
</div>
<div style="height: 800px;width: 800px">
<button type="button" pButton (click)="saveEmployee()" label="save" style="float: right"></button>
<br/><br/><br/><br/><br/><br/>
</div>


